.nyaquarium .wcs-button {
	background: $aq-blue !important;
		
	&:hover {
		background: $aq-hover-blue !important;
	}
}

.wcs-button {
    background-color: $orange !important;
    background-image: none;
    border: none;
    border-radius: 4px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-family: $font-brandon;
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: .875rem;
    max-width: none;
    padding: 12px 32px;
    position: relative;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    
    &:hover {
	    background-color: #e7ae65 !important;
	    background-image: none;
    }
}