$font-path: '../fonts/';
$image-path: '../images/';

/* Colors */
$aq-dark-blue: #25343e;
$aq-blue: #00b2cd;
$aq-hover-blue: #00c4e1;
$black: #272b2d;
$blue-green: #008484;
$blue-green-hover: #009d9e;
$gold: #85754e;
$orange: #e58a1f;
$red: #cd3a3d;

/* Fonts */
$fallbacks-sans: helvetica, arial, sans-serif;
$fallbacks-serif: georgia, 'times new roman', serif;
$font-brandon: 'Brandon Grotesque', $fallbacks-sans;
$font-lato: 'Lato', $fallbacks-sans;
$font-foundation: 'Foundation Sans', $fallbacks-sans;
$font-merriweather: 'Merriweather', $fallbacks-serif;

/* Breakpoints */
$break-tablet: 768px;
$break-mobile: 480px;

/* Transition */
$default-transition: all 0.1s ease-out;